/* Importing Poppins Font from Google-fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:wght@400;500;700&family=Ubuntu&display=swap');

/* CSS Reset and Setting font to Poppins */
*{
    margin: 0;
    padding: 0;
    font-family: "poppins", sans-serif;
}

/* Adding Background to body and Style to it */

body{
    background: url('images/back-image.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

/* Styles of Main Div of the page, inside which all other divs are present */

.container{
    border: none;
    padding: 4px;
}

/* Styles to Container containing Heading Paragraph and Header */

.footercontainer{
    display: flex;
    flex-direction: column;
}

    /* Styles to Container containing Logo and Header Text */

    .headingcontainer{
        border: 2px solid black;
        background-color: #424646;
        color: white;
        text-shadow: 2px 2px 8px black;
        padding: 5px;
        margin: 10px 4px 10px 4px;
    
    }
        /* Styles To logo container of MMMUT */
        .logo{
            width:100%;
            text-align: center;
            display: inline-block;
            border: none;
            border-bottom: 2px solid black;
        }

            /* Styles To the Logo of MMMUT */
            #MMMlogo{
                width: 10%;
                border-radius: 100px;
            }

        /* Styles Of Header Text container */
        .heading{
            display: inline-block;
            width:100%;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            border: none;
        }
            /* Styles to The main Heading Text */
            #mainheading{
                font-weight: 700;
                font-size: large;
            }

    /* Styles to container of Head Paragraph */
    .headpara{
        border: 2px solid black;
        padding: 8px;
        color: black;
        font-weight: 600;
        margin: 0px 2px 0px 4px;
        background-color: #f8ad23;

    }

/* Styles to Faculty container */

.faculty{
    border: none;
    margin: 2px 2px 20px 2px;
    width: 3fr;
}

    /* Style to h3 tag of faculty container */
    .faculty h3{
        color:white;

    }
    /* Styles to The faculty link container */
    .facultylink{
        font-size: 22px;
        text-decoration: none;
        width: 100%;
        text-align: center;
        color: #EEE;
        text-shadow: 2px 2px 4px black;
        font-style: italic;
        font-weight: bold;
        transition: all 0.2s;
    }
    .facultylink:hover{
        cursor: pointer;
        color: #f8ad23;
        text-shadow: 2px 2px 5px black;

    }
    #faclink{
        animation-name: link-move;
    }
    
 /* Styles to container containing all members */

.members{
    border: none;
    background: transparent;
    color: white;
    display: flex;
    margin: 10px 0px 10px 0px ;
}
    /* Style to container of all Seniors and juniors */
    .seniors, .juniors {
        display: flex;
        flex-direction: column;
        border: none;
        margin: 2px 2px 14px 2px;
    }

    /* Style to Heading container of members block */
    .membergroupheading{
        background-color: #424646;
        border-top: 2px solid black;
        border-bottom: 2px solid black;
        margin: 2px 0px 6px 0px;
        width:100%;
        text-align: center;
        display: inline-block;
        font-weight: 700;
        font-size: medium;
        text-shadow: 2px 2px 8px black;
        padding: 4px 0px 4px 0px;
    }

    /* Style to Member-container grid */
    .membercontainer{
        border: none;
        margin: 0px 2px 0px 2px;
        padding: 5px;
        border-radius: 4px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;    
    }
        /* Style on Container containig member details */
        .memberelement{
            box-shadow: 2px 2px 8px black;
            background: -webkit-radial-gradient(34% -34%,#f9cd7a, #EEE);
            opacity: 1;
            margin: 2px;
            border: none;
            border-radius: 10px;
            overflow: hidden;
        }
        /* Hover effect on the member element container */
        .memberelement:hover{
            background: -webkit-radial-gradient(-34% 34%, #EEE,#f9cd7a);
        
        }
            /* Style for conntainer of member image */
            .memberphoto{
                border: none;
                width: 100%;
                margin-right: auto;
                margin-left: auto;
                text-align: center;
            }
                /* Style on the image of members */
                .image{
                    width: 50%;
                    border-radius: 400px;
                    transition: width 0.4s ease-in;
                    transition: border-radius 0.05s ease-in;
                }

                /* Hover effect on member image */
                .image:hover{
                    border-radius: 0px;
                    cursor: pointer;
                    width: 100%;
                }

             /*Style on Member name container  */
            .membername{
                text-align: center;
            }
                /* Style on name of member */
                .name{
                    color: black;
                    font-family: Arial, Helvetica, sans-serif;
                    font-weight: 600;
                    padding: 4px 0px 3px 0px;
                    font-size: 0.8em;
                }
                /* Style to links in the name of members */
                .link{
                    text-decoration: none;
                    width: 100%;
                    margin-left: auto;
                    margin-right: auto;
                    text-align: center;
                    color: rgb(0, 0, 0);
                    font-weight: 800;
                    font-style: italic;
                    font-size: small;
                }

/* Style to the footer container  */
.footer{
    border: 2px solid black;
    margin: 2px auto 2px auto;
    background-color:#424646;
    display: inline-block;
    width:100%;
    text-align: center;
  
}
    /* Style to textpara inside footer */
    #textinfoot{
        font-size: 15px;
        font-weight: 600;
    }
    /* Style to text container of footer */
    .foottext{
        display: flex;
        justify-content: center;
        gap: 30px;
        padding: 8px;
        margin-top: 3px;
        margin-bottom: 3px;
        color: black;
        background-color: #f8ad23;
    }
    /* Styles for Social Media Icon container */
    .footerhandles{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* Styles to logos of social links */
    .instaimg, .gitimg, .repimg{
        padding-left: 3px;
        width: 30px;
        border-radius: 60px;
        border: none;
    }
    /* Styles for Join Now button */
    .btn{
        border: none;
        padding: 3px;
        width: 90px;
        height: 30px;
        font-family: "poppins";
        border-radius: 20px;
        font-weight: 600;
        box-shadow: none;
    }
    .btn:hover{
        box-shadow: 2px 2px 4px black;
        cursor: pointer;
    }
   

/* Styles for Distinguishing Designated members from others */
#cr{
    background:-webkit-radial-gradient(34% -34%,#6ff39f, #EEE);
    border: none;
    
}
#cr:hover{
    background:-webkit-radial-gradient(-34% 34%, #EEE ,#6ff39f);

}
#cs{
    background:-webkit-radial-gradient(34% -34%,#f42000, #EEE);
    border: none;
}
#cs:hover{
    background:-webkit-radial-gradient(-34% 34%, #EEE,#f42000);

}
.crtext{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
}

/* MEDIA QUERIES FOR RESPONSIVENESS */

@media(max-width: 600px) and (min-width:380px){
    .members{
        display: flex;
        flex-wrap: wrap;
    }
    .name{
        font-size: 0.7rem;
    }
    .membercontainer{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    
}
@media(max-width:380px){
    .members{
        display: flex;
        flex-wrap: wrap;
    }
    .name{
        font-size: 0.7rem;
    }
    .membercontainer{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .foottext{
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }
    .btn{
        width: 140%;
        font-size: 18px;
        padding: 0px;
        text-decoration: none;
    }
   
}
@media(min-width: 1000px){
    .membercontainer{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    .footercontainer{
        flex-direction: row;
        justify-content: space-evenly;
    }
    .headpara{
        padding: 8px;
        margin-left: 2px;
    }
    .headingcontainer{
        margin-top: 0px;
        margin-bottom: 0px;
    }
}
