
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    border: none;
    background-color:#EEEEEE;
    padding: 4px;
}
.headingcontainer{
    border: 2px solid black;
    background-color: #424646;
    color: white;
    text-shadow: 2px 2px 8px black;
    padding: 5px;
    margin-bottom: 10px;
}
.headpara{
    border: 2px solid black;
    padding: 8px;
    margin-top: 3px;
    margin-bottom: 3px;
    color: black;
    font-weight: 600;
    background-color: #f7941d;

}
.members{
    border: 2px solid black;
    background-color: #EEEEEE;
    color: white;
    display: flex;
    margin-top: 10px;

}
.faculty{
    border: none;
    margin: 2px;
    width: 3fr;
    margin-bottom: 20px;
}
.faculty h3{
    color:white;

}
.seniors{
    display: flex;
    flex-direction: column;
    border: none;
    margin: 2px;
    width: 3fr;
    margin-bottom: 14px;

}
.juniors{
    display: flex;
    flex-direction: column;
    border: none;
    margin: 2px;
    width: 3fr;
    margin-bottom: 14px;


}
.footer{
    border: 2px solid black;
    margin: 2px;
    background-color:#f7941d;
    display: inline-block;
    width:100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  
}
.membercontainer{
    border: none;
    margin: 2px;
    padding: 5px;
    border-radius: 4px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: #424646;

}
.membergroupheading{
    background-color: #424646;
    border: none;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    margin: 2px;
    width:100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: inline-block;
    font-weight: 700;
    font-size: medium;
    text-shadow: 2px 2px 8px black;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-bottom: 8px;

}
.memberelement{
    background-color: #EEEEEE;
    margin: 2px;
    border: none;
    border-radius: 10px;
    overflow: hidden;
    transition: background-color 0.9s;
}
.memberelement:hover{
    background-color: #f7941d;
    
}

.memberphoto{
    border: none;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.membername{
    text-align: center;
}


.lilink{
    border: none;
}
.logo{
    width:100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: inline-block;
    border: none;
    border-bottom: 2px solid black;
}
.heading{
    display: inline-block;
    width:100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: none;
}
#MMMlogo{
    width: 10%;
    border-radius: 100px;
}
#mainheading{
    font-weight: 700;
    font-size: large;
}
.facultylink{
    text-decoration: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: black;
    text-shadow: none;
    font-style: italic;
    font-weight: 800;
}
.faclink{
    color: black;
}

.link{
    text-decoration: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: rgb(0, 0, 0);
    font-weight: 800;
    font-style: italic;
    font-size: small;
}
.image{
    width: 50%;
    border-radius: 200px;
    transition: width 0.4s;
}
.image:hover{
    cursor: pointer;
    width: 100%;
}
.name{
    color: black;
    text-shadow: none;
    padding-top: 4px;
    font-size: 0.4 rem;
    padding-bottom: 3px;
}

#textinfoot{
    font-size: 15px;
    font-weight: 300;
}
.foottext{
    padding: 8px;
    margin-top: 3px;
    margin-bottom: 3px;
    color: black;
    background-color: #f7941d;
}
#textinfoot{
    font-weight: 600;
}


.instaimg, .gitimg, .repimg{
    width: 30px;
    border-radius: 40px;
    border: none;
 }
.insta,.github,.replit{
    border: none;
    display: inline-block;
}

#cr .name{
    color: black;
    text-shadow: none;
}
#cs .name{
    color:black;
    text-shadow: none;
}
#cr{
    background-color: #6ff39f;
    border: none;
    transition: background-color 0.9s;
    
}
#cr:hover{
    background-color: #13f164;
}
#cs{
    background-color: #f5e96a;
    border: none;
    transition: background-color 0.9s;
}
#cs:hover{
    background-color: #fce700;
}
.crtext{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
}

@media(max-width: 600px){
    .members{
        display: flex;
        flex-wrap: wrap;
    }
}