@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:wght@400;500;700&family=Ubuntu&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", 'sans-serif';
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:url('image.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

.wrapper{
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(100px);
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    width: 420px;
    color: #EEE;
    border-radius: 10px;
    padding: 30px 40px;
}
.wrapper h1{
    font-size: 36px;
    text-align: center;
}

.wrapper .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #EEE;
    padding: 20px 45px 20px 20px;
}
.input-box input::placeholder{
    color: #EEE;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.wrapper .input-radio{
    display: flex;
    justify-content: center;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.wrapper #junior{
    margin-left: 8px;
}

.wrapper .input-radio input:hover{
    cursor: pointer;
}

.wrapper .btn{
    width: 100%;
    height: 45px;
    background: #EEE;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600
}

@media(max-width:300px){
    .input-box input::placeholder{
        color: #EEE;
        text-overflow: ellipsis;
        font-size: 12px;
    }
}